@font-face {
  font-family: "iconfont"; /* Project id 4401800 */
  src: url('iconfont.woff2?t=1705636553519') format('woff2'),
       url('iconfont.woff?t=1705636553519') format('woff'),
       url('iconfont.ttf?t=1705636553519') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangxiazuoyouTriangle15:before {
  content: "\e692";
}

.icon-shangxiazuoyouTriangle17:before {
  content: "\e693";
}

.icon-shangxiazuoyouTriangle16:before {
  content: "\e694";
}

.icon-shangxiazuoyouTriangle18:before {
  content: "\e695";
}

.icon-hongseshouji-X:before {
  content: "\e610";
}

.icon-mima:before {
  content: "\e603";
}

.icon-pinglun:before {
  content: "\e6ad";
}

.icon-shanchu:before {
  content: "\e8c1";
}

.icon-aixin:before {
  content: "\e60d";
}

.icon-aixinD:before {
  content: "\e60e";
}

